              <style>
              h1 { color: black; 
                   font: Helvetica;
                   size: 16px;}
              p  { font: Helvetica; color: blue; }
              h2 { font-size: 20px; }
              h3 { font-size: 20px; color: purple;}
              </style>